<script src="https://giscus.app/client.js"
        data-repo="TD-Hackathon-2022/TD-Hackathon-2022.github.io"
        data-repo-id="R_kgDOGkZNuQ"
        data-category="General"
        data-category-id="DIC_kwDOGkZNuc4CAbFe"
        data-mapping="pathname"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-theme="dark"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
<a href="https://giscus.app/api/oauth/authorize?redirect_uri=https%3A%2F%2Ftd-hackathon-2022.github.io%2F">Can't see discussion? Click me to auth giscus!</a>