<div class="entries">
  <div class="entry">
    <div class="title">June 01 ~ June 12</div>
    <div class="body">
      <h5>话题投递</h5>
    </div>
  </div>
  <div class="entry">
    <div class="title">June 13 ～ June 19</div>
    <div class="body">
      <h5>成员报名</h5>
    </div>
  </div>
  <div class="entry">
    <div class="title">June 20 ～ June 26</div>
    <div class="body">
      <h5>构建小队</h5>
    </div>
  </div>
  <div class="entry">
    <div class="title big">June 27 ～ July 03</div>
    <div class="body">
      <h5>Coding</h5>
    </div>
  </div>
  <div class="entry">
    <div class="title">July 07 ～ July 08</div>
    <div class="body">
      <h5>Showcase</h5>
    </div>
  </div>
</div>
